<div style="width: 75%; margin-top:10%; margin:0 auto;padding-top: -20%; padding-bottom: 50px;">
    <app-header></app-header>
    <mat-card>
        <mat-card-title class="b1 blue">name of file</mat-card-title>
        <mat-card-title class="blue">Download your tokenized dataset</mat-card-title>
        <mat-card-title class="b1 blue">Please share your experience to display the download button</mat-card-title>
        <div class="m2">
            <img style="width: 4%;margin:1%" src="./assets/img/fb.png" alt="logo">
            <img style="width: 4%;margin:1%" src="./assets/img/ig.png" alt="logo">
            <img style="width: 4%;margin:1%" src="./assets/img/tw.png" alt="logo">
        </div>

        <ngb-alert *ngIf="!tokenifyService.se || !tokenifyService.op">
            Wait a second to download
        </ngb-alert>

        <div *ngIf="tokenifyService.se && tokenifyService.op" class="m2"><button class="btn btn-primary m1"
                (click)="downloadFile()">Download file</button></div>
        <div *ngIf="tokenifyService.se && tokenifyService.op" class="m2"><button class="btn btn-primary m1"
                (click)="getTokenOnWindow()">Download Token</button></div>

        <div class="m2"><button (click)="returnTo()" class="btn btn-primary m1 fr">Return to</button></div>
        <br>
        <hr>
        <app-footer></app-footer>
    </mat-card>
</div>
