<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="../../assets/img/logo.JPG" alt="logo">
        </div>
        <div class="col-sm-9 t1">
            <div class="row">
                <div class="col-sm t2">Tokenify App</div>
                <div class="col-sm t3">The Tool for Data Scientists of Real World!</div> 
                <div class="col-sm t4">Welcome User 
                    <span>Guest</span>
                </div>             
            </div>
        </div>

    </div>
</div>