<mat-card style="width: 100%;margin-top:10%">
    <mat-card-header>
        <mat-card-title>Tokenify App</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/img/logo.JPG" alt="logo">
    <mat-card-content class="login-cont">
        <mat-form-field>
            <input id="username" name="username" [(ngModel)]="username" #name="ngModel" matInput
                placeholder="Username" required>
        </mat-form-field>
        <mat-form-field>
            <input type="password" id="psw" name="psw" [(ngModel)]="psw" #name="ngModel" matInput
                placeholder="Password" required>
        </mat-form-field>

        <div *ngIf="submitLogin && (!username || !psw)" class="alert alert-danger">

            <div *ngIf="!username">
                Username is required.
            </div>

            <div *ngIf="!psw">
                Password is required.
            </div>


        </div>

        <ngb-alert *ngIf="loginService.showOK">
            Login Success !
        </ngb-alert>
        <ngb-alert style="background-color: darkred; color: white; " *ngIf="loginService.showKO">
          Login Fail !
        </ngb-alert>
    </mat-card-content>
    <button (click)="login()" class="login-button" mat-raised-button>Login</button>
    <span>or</span>
    <button  onClick="parent.location='https://lab.onesaitplatform.com/controlpanel/login'" class="guest-button" mat-raised-button>Sing Up</button>
    <span>or</span>
    <button (click)="skipGuess()" class="guest-button" mat-raised-button>Guest</button>
    <hr>
    <img class="mat-card-image-2" src="./assets/img/rtLogo.png" alt="rtLogo">
    <img class="mat-card-image-2" src="./assets/img/onesaitLogo.PNG" alt="rtLogo">
</mat-card>
